 label{
     color: red;
     font-weight:border;
}
input {
    width: 100%;
    padding:6px;
}

.btn-group {
    text-align: right;

}

.loginform {
    border: 1px solid palevioletred;
    padding: 10px;
    margin: 10;
    width: 50;
    margin: auto;
    background-color: rebeccapurple;
    margin-top: 12%;
    border-radius: 10px;

}
 
.form-group {
    margin: 10px;

}




    
